.nttu{
    margin-top:0px;
}
/* .map{
    position: fixed; 
    bottom: 20px; 
    left: 0px; 
    z-index: 99; 
    outline: none; 
    background-color: #fff; 
} */
/*.map2{
    position:absolute;
    bottom: -566px;
    left: 0%;
    z-index: 69; 
}*/