.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    font-family: Courier, monospace,'Courier New';
}
.ad{
    height:1242.3px;
}
/* .map{
    position: fixed; 
    bottom: 20px; 
    left: 0px; 
    z-index: 99; 
    outline: none; 
    background-color: #fff; 
} */
/*.map2{
    position:absolute;
    bottom: -560px;
    left: 0%;
    z-index: 69; 
}*/