
.post-info {
    position: relative;
    padding-top: 4px;
    margin-bottom: 40px;
    font-family: Courier, monospace,'Courier New';
}
/* .map{
    position: fixed; 
    bottom: 20px; 
    left: 0px; 
    z-index: 99; 
    outline: none; 
    background-color: #fff; 
} */
/*.map2{
    position:absolute;
    bottom: -647px;
    left: 0%;
    z-index: 69; 
}*/